.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 1px;
}

#yourMonster {
    width: 96px;
    height: 96px;
}

body {
    background-color: #333333;
    color: #999999;
    font-family: verdana, arial;
}